.container {
    background-color: rgb(248, 252, 252);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px black;
    width: 400px;
}

body {
    font-family: Times New Roman, serif;
    background-color: #c180a5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}